﻿@model LogbookViewModel
<tr id="@Model.Id" scope="row">
    <td>@Model.LocationName</td>
    <td>
        @Model.Name
        <button type="button" id="edit-logbook-button" data-toggle="ajax-modal" data-target="#create-comment" data-tooltip="tooltip" data-placement="top" title="Edit Logbook" data-url="@Url.Action("Details","Logbook",new{area="Administrative", Id=Model.Id})" formmethod="get">
            <img src="~/Icons/icons8-edit-book-50.png" width="45%">
        </button>
    </td>
    <td>
        @{
        foreach (var category in Model.Categories)
        {
            @category <br />
        }
        }
    </td>
    <td>
        @{
            foreach (var manager in Model.AssignedManagers)
            {
                @manager <br />
            }
        }
    </td>
</tr>

<style>
    td {
        background: white;
        opacity: 0.8;
        word-break:break-all;
    }
    #edit-logbook-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
    select{
        width:100%;
    }
</style>