﻿@model UserViewModel
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> UserManager

<tr id="@Model.Id" scope="row">
    <td >
            <div id="placeholder"></div>
        @Model.UserName 
            <button type="button" class="details-button" data-toggle="ajax-modal" data-target="#create-comment" data-tooltip="tooltip" data-placement="top" title="Details" data-url="@Url.Action("Details","User",new{Id=Model.Id})"><img src="~/Icons/icons8-details-60.png" class="img-fluid custom-icon" width="20"></button>
    </td>
    <td>@Model.Email</td>
    <td>
        @{
            foreach (var role in Model.AssignedRole)
            {
                @role 
            }
        }
    </td>
</tr>

<style>
    td {
        background: white;
        opacity: 0.8;
        word-break: break-all;
        text-align:left;
    }
    .details-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

</style>
