﻿@model LogbookViewModel

<div class="modal fade" id="create-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Logbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Administrative" asp-controller="Logbook" asp-action="CreateLogbook" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <label asp-for="LocationName">Location Name </label>
                        <input asp-for="LocationName" placeholder="Enter Comercial entity name" />
                        <span asp-validation-for="LocationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Logbook Name</label>
                        <input asp-for="Name" placeholder="Enter Logbook name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categories">Initialize Categories</label>
                        <br />
                        <select asp-for="Categories" asp-items="ViewBag.CategoriesToSelect"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AssignedManagers">Assign Managers</label>
                        <br />
                        <select asp-for="AssignedManagers" asp-items="ViewBag.ManagersToSelect"></select>
                    </div>

                    <div>
                        <button type="submit" data-save="modal" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<style>
    select, input {
        width: 100%;
    }
</style>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}