﻿@model LogbookViewModel


<div class="modal fade" id="createCategory" tabindex="-1" role="dialog" aria-labelledby="createCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" id="logbook-details" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryLabel">Edit Logbook</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Administrative" asp-controller="Logbook" asp-action="UpdateManagers" method="post">
                    <div class="form-group">
                        <label asp-for="AssignedManagers">Assign Managers</label>
                        <input type="hidden" asp-for="Id">
                        <input type="hidden" asp-for="Name">
                        <input type="hidden" asp-for="LocationName">
                        <br />
                        <select asp-for="AssignedManagers" asp-items="ViewBag.ManagersToSelect"></select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary btn-block">Update managers</button>
                    </div>
                </form>
                <br />
                <form asp-area="Administrative" asp-controller="Logbook" asp-action="DeleteLogbook" method="post" onclick="return confirm('Are you sure you want to delete logbook @Model.Name at @Model.LocationName?')">
                    <div class="form-group">
                        <input type="hidden" asp-for="Id">
                        <input type="hidden" asp-for="Name">
                        <input type="hidden" asp-for="LocationName">
                        <button type="submit" class="btn btn-danger btn-block">Delete Logbook</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    #logbook-details {
        width: 250px;
    }
</style>