﻿@model IPagedList<LogbookViewModel>

<body>
    <div class="container">
        <button type="button" id="add-category" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#createCategory" data-url="@Url.Action("CreateCategory","Logbook",new{area="Administrative"})" formmethod="get">
            <img src="~/Icons/icons8-add-tag-60.png" class="img-fluid custom-icon" data-toggle="tooltip" data-placement="top" title="Add Category" />
        </button>
        <button type="button" id="create-logbook-button" data-toggle="ajax-modal" data-target="#create-comment" data-tooltip="tooltip" data-placement="top" title="Create Logbook" data-url="@Url.Action("CreateLogbook","Logbook",new{area="Administrative"})" formmethod="get">
            <img src="~/Icons/icons8-add-book-60.png">
        </button>
        <div id="placeholder"></div>
    </div>
    <br />
    <div class="container" width="80%">
        <table class="table table-bordered col-12" border="1" style="border-color:gray">
            <thead class="thead-dark">
                <tr>
                    <th class="col-xs-3">
                        Location <a href="@Url.Action("ListLogbooks",
                            new { sortOrder = ViewData["LocationSortParm"],
                                currentFilter = ViewData["SearchString"],
                                currentUserFilter = ViewData["UserSearch"],
                                pageNumber = 1 })">
                            <img src="~/Icons/icons8-sort-30.png" class="img-fluid custom-icon" width="25" />
                        </a>
                        <button id="filter" type="button" data-toggle="modal" data-target="#locationFilter">
                            <img src="~/Icons/icons8-search-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Filter locations" />
                        </button>
                        <a asp-action="ListLogbooks" asp-route-pageNumber=1>
                            <img src="~/Icons/icons8-erase-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Clear filter" />
                        </a>
                    </th>
                    <th class="col-xs-3">
                        Logbook <a href="@Url.Action("ListLogbooks",
                    new { sortOrder = ViewData["LogbookSortParm"],
                        currentFilter = ViewData["SearchString"],
                        currentUserFilter = ViewData["UserSearch"],
                        pageNumber = 1 })">
                            <img src="~/Icons/icons8-sort-30.png" class="img-fluid custom-icon" width="25" />
                        </a>
                    </th>
                    <th class="col-xs-3">Categories</th>
                    <th class="col-xs-3">
                        Managers
                        <button id="filter" type="button" data-toggle="modal" data-target="#managerFilter">
                            <img src="~/Icons/icons8-search-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Filter managers" />
                        </button>
                        <a asp-action="ListLogbooks" asp-route-pageNumber=1>
                            <img src="~/Icons/icons8-erase-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Clear filter" />
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <partial name="_LogbookPartial" model="item" />
                    }
                }
            </tbody>
        </table>
        
        <div class="continer modals">
            <div class="modal fade" id="locationFilter" tabindex="-1" role="dialog" aria-labelledby="locationFilterLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="locationFilterLabel">Filter Locations</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="ListLogbooks" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
                                        <input type="submit" value="Filter" class="btn btn-success" /> |
                                        <a asp-action="ListLogbooks" asp-route-pageNumber=1 class="btn btn-light">Clear</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="managerFilter" tabindex="-1" role="dialog" aria-labelledby="managerFilterLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="managerFilterLabel">Filter Managers</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form asp-action="ListLogbooks" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        <input type="text" name="UserSearch" value="@ViewData["UserSearch"]" />
                                        <input type="submit" value="Filter" class="btn btn-success" /> |
                                        <a asp-action="ListLogbooks" asp-route-pageNumber=1 class="btn btn-light">Clear</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.PagedListPager(Model, page => Url.Action("ListLogbooks",
                     new { sortOrder = ViewData["CurrentSort"], currentFilter = ViewData["SearchString"], currentUserFilter = ViewData["UserSearch"], pageNumber = page }),
                     new PagedListRenderOptionsBase
                     {
                         LiElementClasses = new string[] { "page-item" },
                         PageClasses = new string[] { "page-link" }
                     })
    </div>
</body>

<style>
    #filter, #add-category, #create-logbook-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    li {
        opacity: 0.8;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        word-wrap: break-word;
    }
</style>
@section Scripts{
    <script type="text/javascript" src="~/js/toggleModal.js"></script>
}