﻿<div id="about">
    <br />
    <h4 class="modal-title" id="about-title">Our Mission</h4>
    <div id="contents">
        Circle's goal is to help our partners become even better!
        <br />
        <br />
        Each of our partnering venues aims to enhance your experience, so your comments are extremely valuable to us!
        <br />
        <br />
        <strong>Thank you!</strong>
    <br />
    <br />
</div>
</div>
<style>
    #about, #about-title {
        text-align: center;
    }
    
    #about {
        margin:auto;
        height:300px;
        width:300px;
        background-color:white;
        margin-top: 100px;
        opacity: .8;
        border-radius: 50%;
        vertical-align: central;

    }
    #contents {
        padding: 15px;
        word-break: break-word;
        font-style:italic;
    }
</style>