﻿@model CommentViewModel

<div class="modal fade" id="create-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-controller="Home" asp-action="CreateComment" method="post">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <select asp-for="LocationName" placeholder="Location name" id="location-input" asp-items="@(new SelectList(ViewBag.AvailableLocations))"></select>
                        <span asp-validation-for="LocationName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Author" placeholder="Your Name Here" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <label>
                        <input asp-for="IsHappy" type="radio" value="true">
                        <img src="~/Icons/icons8-happy-60.png">
                    </label>
                    <label>
                        <input asp-for="IsHappy" type="radio" value="false">
                        <img src="~/Icons/icons8-sad-60.png">
                    </label>
                    <div class="form-group">
                        <textarea rows="5" asp-for="Text" placeholder="Your comment here" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" data-save="modal" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>$(document).ready(function () {
            $('#location-input').autocomplete({
                source: data('availableLocations')
            });
        });</script>
}
    <style>

        select, input, textarea {
            width: 100%;
        }

    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
            opacity: 0.3;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
            opacity: 1;
        }
</style>