﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IPagedList<CommentViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<body>

    <div class="container">
        <div id="placeholder"></div>
        <button type="button" class="comment-create-button" data-toggle="ajax-modal" data-target="#create-comment" data-tooltip="tooltip" data-placement="top" title="Add comment" data-url="@Url.Action("CreateComment")"><img src="~/Icons/icons8-add-comment-80.png"></button>
        <div class="comments-container col-md-8" id="comments" data-url="@Url.Action("CreateComment")">
            @{
                foreach (var item in Model)
                {
                    <partial name="_CommentPartial" model="item" />
                }
            }
        </div>

    </div>

    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index",
                                      new { pageNumber = page }),
                                      new PagedListRenderOptionsBase
                                      {
                                          LiElementClasses = new string[] { "page-item" },
                                          PageClasses = new string[] { "page-link" },
                                          MaximumPageNumbersToDisplay = 5
                                      })
    </div>

</body>

<style>

    .comment-create-button {
        position: fixed;
        bottom: 10em;
        left: 70%;
        z-index: 999;
        border: none;
        border-color: none;
    }

    .comment-create-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    .comments-container {
        margin: auto;
        opacity: 0.9;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        opacity: 0.8;
    }
</style>

@section Scripts{
<script type="text/javascript" src="~/js/createComment.js"></script>

@{if (!User.IsInRole("Moderator"))
    {
            <script>$('.comment-text').profanityFilter({
                    externalSwears: '/swearWords.json'
                });</script>
    }
 }

}