﻿<div class="container">
    <p class="m-2">&nbsp;</p>
    <table class="table table-bordered" border="1" style="border-color:gray">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Users Count</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <a asp-area="Administrative" asp-controller="User" asp-action="ListUsers">
                <div style="height:100%;width:100%">
                    @ViewData["Users"]
                </div>
            </a>
        </td>
        </tbody>
    </table>
</div>