﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div id="manage-account-container">
    <h2 class="manage-account-title">Manage your account</h2>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
<style>
    #manage-account-container {
        align-content: center;
    }
    .manage-account-title {

        color: white;
    }
</style>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
