﻿@using FourthCircle.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-action="Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-action="ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangeAvatarNavClass(ViewContext)" id="change-avatar" asp-action="ChangeAvatar">Avatar</a></li>
</ul>
<br />
<style>
    .nav-item {
        color: white;
    }

    a {
        color: white;
    }

    li a:active {
        color: #e67e22;
    }
</style>