﻿@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
    <partial name="_StatusMessage" for="StatusMessage" />
<div id="update-password">
    <h4>@ViewData["Title"]</h4>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>
<style>
    #update-password {
        background: white;
        border-radius: 10px;
        height: 500px;
        width: 300px;
        opacity: 0.8;
        padding: 20px;

    }
    #login-title {
        margin: auto 0;
    }
    
    .form-control, .field-validation-error {
        display: block;
        width: 100%;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
