﻿@model ChangeAvatarViewModel
@{
    ViewData["Title"] = "Change avatar";
    ViewData.AddActivePage(ManageNavPages.ChangeAvatar);
}
<partial name="_StatusMessage" for="StatusMessage" />
<div id="update-avatar">
    <h4>@ViewData["Title"]</h4>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ChangeAvatar" method="post" enctype="multipart/form-data">
                @*<div class="form-group">
                        <label asp-for="OldAvatar"> Current avatar</label>
                    </div>*@
                <div class="form-group custom-file">
                    <input type="file" name="NewAvatar" accept="image/JPEG" class="custom-file-input" id="customFile" />
                    <label class="custom-file-label" for="customFile">Choose new avatar</label>
                    <span asp-validation-for="NewAvatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update avatar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    #update-avatar {
        background: white;
        border-radius: 10px;
        height: 500px;
        width: 300px;
        opacity: 0.8;
        padding: 20px;
    }

    #login-title {
        margin: auto 0;
    }

    .form-control, .field-validation-error {
        display: block;
        width: 100%;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
