﻿@model IndexViewModel

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<div id="update-profile">
    <h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-12">
            <form id="profile-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<style>
    #update-profile {
        background: white;
        border-radius: 10px;
        height: 500px;
        width: 300px;
        opacity: 0.8;
        padding: 20px;
    }

    #login-title {
        margin: auto 0;
    }

    .form-control, .field-validation-error {
        display: block;
        width: 100%;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}