﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div id="confirmation">
    <h2>Email sent!</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>
<style>
    #confirmation {
        background: white;
        border-radius: 10px;
        height: 150px;
        margin: 50px auto 0;
        width: 280px;
        opacity: 0.8;
        padding: 20px;
        text-align:center;
        align-content: center;
        vertical-align: central;
    }
</style>