﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div id="forgot-password">
    <h4>@ViewData["Title"]</h4>
    <h5>Enter your email.</h5>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ForgotPassword" method="post">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<style>
    h4,h5{
        text-align:center;
    }
    #forgot-password {
        background: white;
        border-radius: 10px;
        height: 320px;
        margin: 50px auto 0;
        width: 280px;
        opacity: 0.8;
        padding: 20px;
        align-content: center;
        vertical-align:central;
    }

    .form-control, .field-validation-error {
        display: block;
        width: 100%;
    }
</style>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
