﻿@model CommentViewModel
<div class="comment-body">
    <input id="commentId" type="hidden" data-id="@Model.Id" data-url = @Url.Action("Details","Moderator", new{area = "Administrative"})/>
    <div class="row">
        <div class="comment-feedback">
            @{
                if (Model.IsHappy == true)
                {
                    <img src="~/Icons/icons8-happy-60.png" width=50 />
                }
                else if (Model.IsHappy == false)
                {
                    <img src="~/Icons/icons8-sad-60.png" width=50 />
                }
                else
                {
                    <img src="~/Icons/icons8-neutral-60.png" width=50 />
                }
            }
        </div>
        <div class="col comment-author">
            @Model.Author
        </div>
        <div class="col-auto comment-created-on">
            <h4>@Model.CreatedOn</h4>
        </div>
    </div>
    <div class="row">
        <div class="comment-location"><span><img src="~/Icons/icons8-place-marker-60.png" width=20 /></span> @Model.LocationName</div>
    </div>
    <div class="row">
        <div class="col comment-text">@Model.Text</div>
    </div>
    <div class="row">
        <div class="col comment-edit">
            @{
                if (User.IsInRole("Moderator"))
                {
                    <button type="button" data-toggle="ajax-modal" data-target="#create-comment" data-url=@Url.Action("Details","Moderator", new{area = "Administrative", Id=@Model.Id}) formmethod="get"><img src="~/Icons/icons8-edit-60.png" /></button>
                    @*<div id="updateComment" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Update comment</h4>
                            </div>
                            <div class="modal-body">
                                <partial name="CreateComment" model="@Model" />
                                <form asp-area="Administrative" asp-controller="Moderator" asp-action="EditComment" method="post">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="Id">
                                        <input type="hidden" asp-for="Author">
                                        <input type="hidden" asp-for="CreatedOn">
                                        <input type="hidden" asp-for="LocationName">
                                        <label asp-for="Text">Update comment text:</label>
                                        <input asp-for="Text" value="@Model.Text">
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-secondary">Update Comment</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>*@

                    <form asp-area="Administrative" asp-controller="Moderator" asp-action="DeleteComment" asp-route-id=@Model.Id method="post" onclick="return confirm('Are you sure you want to delete comment?')">
                        <button id="deleteComment" type="submit"><img src="~/Icons/icons8-remove-60.png" /></button>
                    </form>
                }
            }
            @*<a asp-area="Management" asp-controller="Logbooks" asp-action="AddCommentAsNote" asp-route-commentId="@Model.Id" class="btn-outline-primary">Pin</a>
            <button type="button" class="add-comment-as-note-button" data-toggle="modal" data-target="#add-comment-as-note" data-tooltip="tooltip" data-placement="top" title="Add comment as note" data-url="@Url.Action("AddNote","Logbooks",new{area="Management", logbookId = ViewBag.logbookId})" formmethod="get"><img src="https://img.icons8.com/cotton/64/000000/plus.png"></button>*@

        </div>
    </div>
</div>


<style>

    .comment-body {
        box-shadow: 3px 3px 5px 3px #ccc;
        padding: 10px;
        margin: 10px;
        background: white;
        border-radius: 5px;
    }

    .comment-created-on {
        text-align: right;
        padding:10px;
        margin-right:10px;

    }

    .comment-location {
        padding: 10px;
        margin-left:10px;
        color: gray;
        font-weight: 500;
        font-style: italic;
    }

    .comment-author {
        font-size: xx-large;
        font-weight: 700;
        text-align: left;
    }

    .comment-feedback {
        float: left;
        padding-left: 10px;
    }

    .comment-text {
        word-break: break-word;
        font-size: x-large;
        font-weight: 500;
        margin:10px;
    }

    .comment-edit {
        position:relative;
        display: flex;    
        justify-content:flex-end;
    }
    .comment-edit img{
        width:45%;
    }
    
</style>
