﻿@model CommentViewModel

<div class="modal fade" id="create-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Administrative" asp-controller="Moderator" asp-action="EditComment" method="post">
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="Author">
                    <input type="hidden" asp-for="CreatedOn">
                    <input type="hidden" asp-for="LocationName">
                    <div class="form-group">
                        <input asp-for="Text" placeholder="Your comment here" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>$(document).ready(function () {
            $('#location-input').autocomplete({
                source: data('availableLocations')
            });
        });</script>
}
<style>
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
            opacity: 0.3;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
            opacity: 1;
        }
</style>