﻿@model UserViewModel
<div class="modal fade" id="create-comment" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="user-details" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="Administrative" asp-controller="User" asp-action="UpdateRole" asp-route-id="@Model.Id" method="post">
                    <select asp-for="UpdatableRole" asp-items="ViewBag.Roles"></select>
                    <button type="submit" class="btn btn-success btn-sm btn-block">Update Role</button>
                </form>
                <br />
                <form onclick="return confirm('Are you sure you want to delete user @Model.UserName?')">
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-danger btn-sm btn-block" onclick="location.href='@Url.Action("DeleteUser", "User", Model)'">Delete User</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    select {
        width: 100%;
    }
    #user-details{
        width:250px;
    }
</style>
