﻿@model IPagedList<UserViewModel>
@using X.PagedList;
<body>

    <div class="container" display="inline">
        <div class="row">
            <div class="col-auto">
                <div id="placeholder"></div>
                <button type="button" class="create-user-button" data-toggle="ajax-modal" data-target="#create-comment" data-tooltip="tooltip" data-placement="top" title="Create User" data-url="@Url.Action("Register","Account",new{area=""})" formmethod="get"><img src="~/Icons/icons8-add-user-60.png"></button>
            </div>
            <div class="col-auto" id="filter-group">
                <div class="container align-items-center">
                    <form asp-action="ListUsers" method="get">
                        <div class=" form-actions no-color">
                            <input id="user-filter" type="text" name="SearchString" value="@ViewData["SearchString"]" placeholder="Filter by username or email" />
                            <button type="submit" id="filter"><img src="~/Icons/icons8-search-60.png" class="img-fluid custom-icon" width="25" /></button>|
                            <a asp-action="ListUsers" asp-route-pageNumber=1><img src="~/Icons/icons8-erase-60.png" class="img-fluid custom-icon" width="25" /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <table class="table table-bordered" border="1" style="border-color:gray">
            <thead class="thead-dark">
                <tr>
                    <th class="col-xs-4">Username<a href="@Url.Action("ListUsers", new { sortOrder = ViewData["NameSortParm"], currentFilter = ViewData["SearchString"], pageNumber = 1 })"><img src="~/Icons/icons8-sort-30.png" class="img-fluid custom-icon" width="25" /></a></th>
                    <th class="col-xs-4">E-mail</th>
                    <th class="col-xs-4">Role</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <partial name="_UserPartial" model="item" />
                    }
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("ListUsers",
                      new { sortOrder = ViewData["CurrentSort"], currentFilter = ViewData["CurrentFilter"], pageNumber = page }),
                      new PagedListRenderOptionsBase
                      {
                          LiElementClasses = new string[] { "page-item" },
                          PageClasses = new string[] { "page-link" }
                      })
    </div>
</body>

<style>
    table {
        border-color: gray;
    }

    li {
        opacity: 0.8;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        word-wrap: break-word;
    }

    .create-user-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
        padding-left: 20px;
    }

    @@media (min-width:250px) {
        #user-filter {
            width: 150px;
        }
    }

    @@media (min-width:380px) {
        #user-filter {
            width: 220px;
        }
    }

    #filter-group {
        padding-top: 15px;
    }

    #filter {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
</style>
@section Scripts{
    <script type="text/javascript" src="~/js/toggleModal.js"></script>
}