﻿@using FourthCircle.Models.EntityViewModels;
@model NoteViewModel

<div class="modal fade" id="add-note" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" asp-action="AddCommentAsNote" data-returnUrl="@Url.Action("Notes", "Logbooks", new { area = "Management", Id = @Model.LogbookID })" method="post">
                <div class="modal-body" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <input asp-for="UserID" value="@Model.UserID" type="hidden">
                    </div>
                    <select id="Logbook" name="Logbook" class="form-group">
                        <option value="">@ViewBag.logbooks</option>
                    </select>
                    <div class="form-group">
                        <label asp-for="@Model.Text">Note text</label>
                        <textarea class="form-control" asp-for="@Model.Text" rows="3" placeholder="Note text"></textarea>
                        <span asp-validation-for="@Model.Text" class="text-danger"></span>
                    </div>

                    <select id="Categories" asp-for="Categories" asp-items="ViewBag.categories"></select>
                    <div class="form-group">
                        <label asp-for="UploadFormPicture">Image</label>
                        <input type="file" name="UploadFormPicture" accept="image/*" class="form-control" />
                        <span asp-validation-for="UploadFormPicture" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" data-save="modal" class="btn btn-success">Add Note</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
$('#Logbook').change(function () {
    var selectedValue = $(this).val();
    $.get({
        url: '@Url.Action("CategoryDropDownList", "Home")',
        data: { logbook: selectedValue },

        success: function (result) {

            alert(result);
            var categories = $('#Categories');
            categories.empty();

            $.each(result, function () {

                categories.append(
                        $('<option>', {
                            value: this.Value
                        }).text(this.Text)
                    );
            });
        }
    });
});
    </script>
}