﻿@using FourthCircle.Models.EntityViewModels;
@model NoteViewModel

<button type="button" class="add-note-button" data-toggle="modal" data-target="#exampleModal" data-whatever="getbootstrap"><img src="~/Icons/icons8-note-96.png"></button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" asp-action="AddNoteAsync" data-returnUrl="@Url.Action("Notes", "Logbooks", new { area = "Management", Id = @Model.LogbookID })" method="post">
                <div class="modal-body" name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group">
                        <input asp-for="LogbookID" value="@Model.LogbookID" type="hidden">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" asp-for="@Model.Text" rows="3" placeholder="Note text"></textarea>
                        <span asp-validation-for="@Model.Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Categories" asp-items="ViewBag.categories" class="form-control"></select>
                    </div>
                    <div class="form-group custom-file">
                        <input type="file" name="UploadFormPicture" accept="image/JPEG" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose image</label>
                        <span asp-validation-for="UploadFormPicture" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" data-save="modal" class="btn btn-success">Add Note</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}