﻿@model FourthCircle.Models.EntityViewModels.NoteViewModel

@{
    ViewData["Title"] = "AddNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Note</h1>

<form asp-action="EditNote">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="LogbookID" value="@Model.LogbookID" type="hidden">
        <input asp-for="UserID" value="@Model.UserID" type="hidden">
        <input asp-for="Id" value="@Model.Id" type="hidden">
    </div>
    <div class="form-group">
        <textarea class="form-control" asp-for="Text" rows="3" placeholder="Note text"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
        <select asp-for="Categories" asp-items="ViewBag.categories"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

<div>
    <a asp-action="Notes" asp-route-Id="@Model.LogbookID">Back to List</a>
</div>

