﻿@model IEnumerable<LocationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var location in Model)
{
    <div class="btn-group-vertical">
        <button class="btn btn-primary">@location.Name</button> @*TODO: location comments*@
        @foreach (var logbook in location.Logbooks)
        {
            <a asp-area="Management" asp-controller="Logbooks" asp-action="Notes" asp-route-id="@logbook.Id" asp-route-showAll="false" class="btn btn-primary active">@logbook.Name</a>
        }
    </div>
    <br />
}

    <style>
        .btn-group-vertical {
            margin: 2px !important;
        }
        .btn-group-vertical {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    </style>