﻿@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<NoteViewModel>

@{
    ViewData["Title"] = "Notes";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<br /><br />
<div id="add-note"></div>
<partial name="~/Areas/Management/Views/Logbooks/AddNote.cshtml" model="new NoteViewModel { LogbookID = ViewBag.logbookId }" />
<div id="notes">
    <ul class="list-unstyled">
        @foreach (var note in Model)
        {
            <li class="media text-dark bg-white mb-4 rounded-top">
                @if (note.UserAvatar != null)
                {
                    <img width="64" height="64" src="@Url.Action("GetUserAvatar", "Images", new { userId = note.UserID })" class="mr-3 rounded-circle" alt="@note.UserName's avatar"> @*float-left*@
                }
                else
                {
                    <img width="64" height="64" src="~/Icons/icons8-user-male-circle.png" class="mr-3 rounded-circle" alt="@note.UserName's avatar">
                }

                <div class="media-body">
                    @if (note.Categories != null)
                    {
                        @foreach (var category in note.Categories)
                        {
                            <a asp-action="Notes" asp-route-category="@category" asp-route-showAll="@ViewBag.showAll" class="badge badge-primary float-right m-2">@category</a>
                        }
                    }
                    <h5 class="mt-0 p-2 w-100">@note.UserName posted on @note.CreatedOn</h5>

                    @note.Text
                    <div class="float-right" id="note-navigation">
                        @if (note.IsMarkedAsSolved)
                        {
                            <img width="22" height="22" data-toggle="tooltip" data-placement="top" title="@note.SolvedByUser.UserName" src="@Url.Action("GetUserAvatar", "Images", new { userId = note.SolvedByUser.Id })" class="rounded-circle" alt="@note.SolvedByUser's avatar">
                            <img width="27" height="27" src="https://img.icons8.com/color/48/000000/checked-2.png">
                        }
                        <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            @if (note.UserName == User.Identity.Name)
                            {
                                <a asp-area="Management" asp-controller="Logbooks" asp-action="EditNote" asp-route-logbookId="@ViewBag.logbookId" asp-route-noteId="@note.Id" class="dropdown-item btn-outline-primary">Edit</a>
                                <a asp-area="Management" asp-controller="Logbooks" asp-action="DeleteNote" asp-route-logbookId="@ViewBag.logbookId" asp-route-noteId="@note.Id" class="dropdown-item btn-outline-warning" onclick="return confirm('Are you sure you want to delete this note?')">Delete</a>
                            }
                            @if (!note.IsMarkedAsSolved)
                            {
                                <a asp-area="Management" asp-controller="Logbooks" asp-action="MarkNoteAsSolved" asp-route-id="@note.Id" asp-route-logbookId="@ViewBag.logbookId" class="dropdown-item btn-outline-primary">Mark as solved</a>
                            }
                        </div>
                    </div>
                    @if (note.Picture != null)
                    {
                        <div class="mb-1 mt-1">
                            <img class="myImages" id="myImg" src="@Url.Action("GetUploadImage", "Images", new { noteId = note.Id })" alt="@note.Text" style="width:100%;max-width:72px">
                            <br />
                        </div>
                    }
                </div>
            </li>
        }
    </ul>


    <div id="myModal" class="modal">
        <span class="close-img-modal">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>

@Html.PagedListPager((X.PagedList.IPagedList)Model, page => Url.Action("Notes", new { Id = ViewBag.logbookId, searchString = ViewBag.searchString, category = ViewBag.category, dateFrom = ViewBag.dateFrom, dateTo = ViewBag.dateTo, showAll = ViewBag.showAll, page }),
    new PagedListRenderOptionsBase
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })


@section Scripts{
    <script type="text/javascript">
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});
    </script>

    <script type="text/javascript">
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        var modal = document.getElementById("myModal");

        var images = document.getElementsByClassName('myImages');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");

        for (var i = 0; i < images.length; i++) {
            var img = images[i];
            img.onclick = function (evt) {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
        }

        var span = document.getElementsByClassName("close-img-modal")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {

        $("#dt1").datepicker({
            dateFormat: "dd-M-yy",
            minDate: 0,
            onSelect: function () {
                var dt2 = $('#dt2');
                var startDate = $(this).datepicker('getDate');
                var minDate = $(this).datepicker('getDate');
                var dt2Date = dt2.datepicker('getDate');
                var dateDiff = (dt2Date - minDate)/(86400 * 1000);

                startDate.setDate(startDate.getDate() + 30);
                if (dt2Date == null || dateDiff < 0) {
                		dt2.datepicker('setDate', minDate);
                }
                else if (dateDiff > 30){
                		dt2.datepicker('setDate', startDate);
                }
                dt2.datepicker('option', 'maxDate', startDate);
                dt2.datepicker('option', 'minDate', minDate);
            }
        });
        $('#dt2').datepicker({
            dateFormat: "dd-M-yy",
            minDate: 0
        });
    });
    </script>
}

<style>
    .add-note-button {
        position: fixed;
        bottom: 10em;
        left: 70%;
        border: none;
        border-color: none;
    }

    .add-note-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    .modal {
        display: none;
        position: fixed;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    .close-img-modal {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close-img-modal:hover,
        .close-img-modal:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
