﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FourthCircle</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/logo_small.png" width="70%" /></a>
                <button type="button" id="notes-search-button" data-toggle="modal" data-target="#search-in-notes" data-whatever="getbootstrap"><img src="~/Icons/icons8-search-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Search Notes" /></button>
                <a asp-area="Management" asp-controller="Logbooks" asp-action="Notes" asp-route-Id="@ViewBag.logbookId">
                    <img src="~/Icons/icons8-erase-60.png" class="img-fluid custom-icon" width="25" data-toggle="tooltip" data-placement="top" title="Clear filter" />
                </a>
                @await Component.InvokeAsync("LogbooksDropDownList")


                <div class="modal fade" id="search-in-notes" tabindex="-1" role="dialog" aria-labelledby="search-in-notesLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="search-in-notes-label">Filter</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form asp-area="Management" asp-controller="Logbooks" asp-action="Notes" asp-route-Id="@ViewBag.logbookId">
                                <div class="modal-body">
                                    <div class="form-group form-inline">
                                        <select class="dropdown child inline-block-child form-control has-feedback" name="category" style="color:black" asp-items="@ViewBag.categories">
                                            <option disabled selected>--- Category ---</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input class="child inline-block-child form-control" name="searchString" placeholder="Search...">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="date" class="form-control" id="datepicker" name="dateFrom">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="date" class="form-control" id="datepicker" name="dateTo">
                                        </div>
                                    </div>
                                    @*<input class="form-control col-form-label" type="date" name="dateFrom">
                                        <input class="form-control col-form-label" type="date" name="dateTo">*@
                                    <div class="form-check">
                                        <label><input type="checkbox" class="form-check-input" name="showAll" value="true">Show All</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>*@
                        @*@await Component.InvokeAsync("LogbooksDropDownList")*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - FourthCircle - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery.profanityfilter.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

<style>

    body {
        background: url(/bokeh3.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    #notes-search-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    .navbar-toggler {
        float: left;
        margin-left: 10px;
    }
</style>