﻿@model IEnumerable<FourthCircle.Models.EntityViewModels.LogbookViewModel>

<div class="dropdown">
    @if (ViewBag.logbookId == null)
    {
    <a class="nav-link dropdown-toggle text-light" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="~/Icons/icons8-books-filled-60.png" class="img-fluid custom-icon" width="25" /> My Logbooks
    </a>
    }
    else
    {
        <a class="nav-link dropdown-toggle text-light active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/Icons/icons8-books-filled-60.png" class="img-fluid custom-icon" width="25" /> @Model.FirstOrDefault(vm => vm.Id == ViewBag.logbookId).Name
        </a>
    }

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var logbook in Model)
        {
            <a asp-area="Management" asp-controller="Logbooks" asp-action="Notes" asp-route-Id="@logbook.Id" class="dropdown-item">@logbook.Name</a>
        }
    </div>
</div>