﻿@model CommentViewModel
<div class="container">
    <form asp-area="Administrative" asp-controller="Moderator" asp-action="EditComment" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="Author">
            <input type="hidden" asp-for="CreatedOn">
            <input type="hidden" asp-for="LocationName">
            <label asp-for="Text">Update comment text:</label>
            <input asp-for="Text" value="@Model.Text">
        </div>
        <div>
            <button type="submit" class="btn btn-secondary">Update Comment</button>
        </div>
    </form>
    <form asp-area="Administrative" asp-controller="Moderator" asp-action="DeleteComment" method="post" onclick="return confirm('Are you sure you want to delete comment?')">
        <div class="form-group">
            <input type="hidden" asp-for="Id">
            <button type="submit" class="btn btn-danger">Delete Comment</button>
        </div>
    </form>
</div>